    
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Edit Profile
        </h1>
        
        <% include ../partials/messages %>

        <form action="/users/change?_method=PUT" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <!-- <div class="form-group">
            <label for="matricNo">Matriculation Card Number</label>
            <input 
              type="matricNo"
              id="matricNo"
              name="matricNo"
              class="form-control"
              placeholder="Axxxxxxxx"
              value="<%= typeof matricNo != 'undefined' ? matricNo : '' %>"
              />
          </div>
          <div class="form-group">
            <label for="email">NUSNET Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Exxxxxxx@u.nus.edu"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="Year">Current Year</label>
            <input
              type="year"
              id="year"
              name="year"
              class="form-control"
              placeholder="Year 1 - 4"
              value="<%= typeof year != 'undefined' ? year : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="avatar">Profile Picture</label>
            <input
              type="avatar"
              id="avatar"
              name="avatar"
              class="form-control"
              placeholder="paste Avatar image Url"
              value="<%= typeof avatar != 'undefined' ? avatar : '' %>"
            />
          </div> -->
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </form>
        <p><a href="/users/:matricNo">Cancle</a></p>
      </div>
    </div>
  </div>