    
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Edit Profile
        </h1>
        
        <% include ../partials/messages %>

        <form action="/users/change?_method=PUT" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="<%= user.name%>"
              value="<%= typeof name != 'undefined' ? name : user.name %>"
            />
          </div>
          <div class="form-group">
              <label for="Year">Current Year</label>
              <!-- <select name="course" class="form-control"> -->
              <input
                type="year"
                id="year"
                name="year"
                class="form-control"
                placeholder="<%= user.year%>"
                value="<%= typeof year !== 'undefined' ? year : user.year %>"
              />
              <!-- <option value=1>1</option>
              <option value=1>1</option>
              <option value=1>1</option>
            </select> -->
          </div>
          <div class="form-group">
            <label for="course">Course of Study</label>
              <input
                type="course"
                id="course"
                name="course"
                class="form-control"
                placeholder="<%= user.course%>"
                value="<%= typeof course != 'undefined' ? course : user.course %>"
              />
          </div>
          
          <button type="submit" class="btn btn-primary">
            Update
          </button>
        </form>
        <!-- <p><a href="/users/<%- user.matricNo %>">Cancle</a></p> -->
      </div>
    </div>
  </div>