<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <!--name-->
            <a class="navbar-brand js-scroll-trigger" href="/home">Chiong Together</a>
            
            <!--Menu Button-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-fw"></i>
            Menu
            </button>
      
            <!--nav bar-->
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/forum/startJio">Start a Jio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Study Clique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Focus</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/dashboard">My Account</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a>
                </li>
            </ul>
            </div>
        </div>
      </nav>

<!-- Header -->
<div class="intro-header">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="profile-message">
                        <h1>Edit Profile</h1>
                    </div>   
                </div>

                <% include ../partials/messages %>
      
                <!------------------------table---------------------------------->
                <div class="forum-content-section-a">
                  <div class="container">
                    <div class="row">

                            <div class="edit-accordion">Profile</div>
                
                            <div class="edit-panel">
                                <form action="/users/change?_method=PUT" method="POST">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="edit-label" for="name">Name</label>
                                        </div>
                                        <div class="col-md-8 type-in-bar">
                                            <input
                                            type="name"
                                            id="name"
                                            name="name"
                                            class="login-input"
                                            value="<%= user.name %>"
                                            value="<%= typeof name != 'undefined' ? name : '' %>"
                                            />
                                        </div>   
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="edit-label" for="name"> Academic Year</label>
                                        </div>
                                        <div class="col-md-8 type-in-bar">
                                            <datalist id="years">
                                                <select name="year" aria-describedby="state_label">
                                                        <option value="1">1</option> 
                                                        <option value="2">2</option> 
                                                        <option value="3">3</option>
                                                        <option value="4">4</option> 
                                                        <option value="5">5</option> 
                                                </select>
                                            </datalist>
                                            <input
                                            type="year"
                                            id="year"
                                            list="years"
                                            value="<%= typeof year !== 'undefined' ? year : user.year %>"
                                            />
                                        </div>   
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="edit-label" for="name">Course of Study</label>
                                        </div>
                                        <div class="col-md-8 type-in-bar">
                                            <input
                                            type="course"
                                            id="course"
                                            name="course"
                                            class="login-input"
                                            value="<%= user.course %>"
                                            value="<%= typeof course != 'undefined' ? course : user.course %>"
                                            />
                                        </div>   
                                    </div>

                                    <button type="submit" class="edit-btn">
                                        Update
                                    </button>
                                    
                                    </form>

                                    <p class="nothing"><a href="/users/:matricNo">Cancle</a></p>
                                                         
                            </div>
 
                    </div>
                  </div>
                </div>
            <!------------------------table---------------------------------->
        </div>
    </div>
</div>