<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <!--name-->
            <a class="navbar-brand js-scroll-trigger" href="/home">Chiong Together</a>
            
            <!--Menu Button-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-fw"></i>
            Menu
            </button>
    
            <!--nav bar-->
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/forum/startJio">Start a Jio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Study Clique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Focus</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/dashboard">My Account</a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
<!----------------------------------------------1------------------------------------------------------------------------->    
                    <div class="container emp-profile">
                        <form method="post">
<!-----------------------------------------row1--------------------------------------------------------------------------->                            
                            <div class="row">

                                <div class="col-md-4">
                                    <!----photo---->
                                    <div class="profile-img">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="profile-head">
                                        <!----username---->
                                        <h5> Hello <%= user.name %> :)</h5>
                                        <!----nav bar info, post, comment -->
<!-----------------------------------------route------------------------------------------------------------>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <% if (edit) { %>
                                        <a href="/users/<%= user.matricNo %>/edit"> edit </a>
                                    <% } %>
                                </div>
                            </div>
<!--------------------------------------------row2----------------------------------------------------------->
                            <div class="row">
                                <!----------sidebar updatephoto, edit, social media?-->
                                <div class="col-md-4">
                                    <div class="profile-work">
                                        <p>Social Media</p>
                                        <a href="">Instagram</a><br/>
                                        <a href="">Facebook</a><br/>
                                        <a href="">Twitter</a>
                                    </div>
                                </div>
                                <!-------basic info------------------>
                                <div class="col-md-8">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                           
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>User Id</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><%= user.name %></p>
                                                </div>
                                            </div>
                                                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><%= user.name %></p>
                                                </div>
                                            </div>
                                                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><%= user.email %></p>
                                                </div>
                                            </div>
                                                        
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Matriculation Card Number</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><%= user.matricNo %></p>
                                                </div>
                                            </div>
                                
                                        </div>
                                      
                                        <div class="col-md-12">
                                            <label>Your Jios</label><br/>
                                            <!-- <p>Your detail description</p> -->
                                            <% for(var i=0; i<user.post.length; i++) { %>
                                                <ul>
                                                    <li> 
                                                        <a href="/forum/<%= posts[i].id %>"> <%= posts[i].title %> </a>
                                                        <!--Delete-->
                                                        <% if (edit) { %>
                                                            <%- include('../partials/delete_post',{ url: `/users/${posts[i].id}` }) %>
                                                        <% } %>
                                                                                                                        
                                                    </li>
                                                </ul>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </form>           
            </div>
<!-----------------------------------------1-------------------------------------------------------->    
        </div>
    </div>
</div>

