    
<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-user-plus"></i> Register
            </h1>
            
            <% include ./partials/messages %>

            <form action="/users/register" method="POST">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="matricNo">Matriculation Card Number</label>
                <input 
                  type="matricNo"
                  id="matricNo"
                  name="matricNo"
                  class="form-control"
                  placeholder="AXXXXXXXX"
                  value="<%= typeof matricNo != 'undefined' ? matricNo : '' %>"
                  />
              </div>
              <div class="form-group">
                <label for="email">NUSNET Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Exxxxxxx@u.nus.edu"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="avatar">Profile Picture</label>
                <input
                  type="avatar"
                  id="avatar"
                  name="avatar"
                  class="form-control"
                  placeholder="paste Avatar image Url"
                  value="<%= typeof avatar != 'undefined' ? avatar : '' %>"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Register
              </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
          </div>
        </div>
      </div>