<div class="limiter">
    <div class="right-side-container-1">
      <div class="right-side-container-2">

        <form class="login-form" action="/users/register" method="POST">
          
          <span class="login-form-title p-b-43">
              Register
          </span>

          <% include ./partials/messages %>

          <label for="name">Name</label>
          <div class="type-in-bar">
            <input
              type="name"
              id="name"                
              name="name"
              class="login-input"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>

          <label for="matricNo">Matriculation Card Number</label>
          <div class="type-in-bar"> 
            <input 
              type="matricNo"
              id="matricNo"
              name="matricNo"
              class="login-input"
              placeholder="Axxxxxxxx"
              value="<%= typeof matricNo != 'undefined' ? matricNo : '' %>"
              />
          </div>

              
          <label for="email">NUSNET Email</label>
          <div class="type-in-bar">
            <input
              type="email"
              id="email"
              name="email"
              class="login-input"
              placeholder="Exxxxxxx@u.nus.edu"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
              
          <label for="email">Current Year</label>
          <div class="type-in-bar">
            <input
              type="year"
              id="year"
              name="year"
              class="login-input"
              placeholder="Year 1 - 4"
              value="<%= typeof year != 'undefined' ? year : '' %>"
            />
          </div>

              
          <label for="password">Password</label>
          <div class="type-in-bar">
            <input
              type="password"
              id="password"
              name="password"
              class="login-input"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>

              
          <label for="password2">Confirm Password</label>
          <div class="type-in-bar">
            <input
              type="password"
              id="password2"
              name="password2"
              class="login-input"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>

          <lable>Have An Account? <a href="/users/login" class="have-account">Login</a></lable>
          
          <button type="submit" class="login-btn">
            Register
          </button>
  
        </form>
      
        <div class="left-side-pic" style="background-image: url('/style/images/bg.jpg');">
      
      </div>
    </div>
</div>