<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <!--name-->
      <a class="navbar-brand js-scroll-trigger" href="/home">Chiong Together</a>
      
      <!--Menu Button-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-fw"></i>
        Menu
      </button>
  
      <!--nav bar-->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/forum/startJio">Start a Jio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Study Clique</a>
          </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Focus</a>
              </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/dashboard">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Header -->
  <div class="type-header">
    <div class="container">
        <div class="row">
  <!----------------------------------title--------------------------------------------------------------------------------->
            <div class="col-lg-12">
                <div class="single-message">
  
                    <h1><%= post.title %></h1>
                    <h3>Posted by: <a href="/users/<%= author.matricNo %>"><%= author.name %></a></h3>
                    <h3>Posted on: <%= post.createdAt.toString().slice(4,24) %></h3>
                </div>   
            </div>
  <!-------------------------------content-------------------------->
            <div class="single-content-section-a">
                <div class="container">
                    <div class="single-row">
                        <p><%= post.content %></p>
                    </div>
                </div>
            </div>
            <a class='join-btn' href="/users/<%= author.matricNo %>">Contact <%= author.name %></a>
            
  <!--------------------------------write comment------------------------>          
            
          
          <form class="single-content-section-c" action="/forum/addComment?_method=PUT" method="POST">
            <h5 class='comment-title'>I Wana Join:</h5>
            <textarea
            class="single-content-section-b" 
            rows="3"
            type="comment"
            id="comment"
            name="comment"
            placeholder="Anything want to tell <%= author.name.toString() %>? You could leave it here!"
            ></textarea>
            <input type="hidden" id="postId" name="postId" value="<%= post.id %>">
            <button type="submit" class="comment-btn">Submit</button>
          </form> 
        </div>
    </div>
</div>
 
<!-------------------------------comment------------------------------------>
        <% for(var i=0; i<post.comment.length; i++) { %>
            <div class="comment-section-<%=(i%2)%>">
                <div class="container">
                    <div class="row">
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <% var name = JSON.stringify(comments[i].commentor.name); %>
              <% var prettyName = JSON.parse(name); %>
              <% var content = JSON.stringify(comments[i].content); %>
              <% var prettyContent = JSON.parse(content); %>
              <h5 class="mt-0"><a href='/users/<%= comments[i].commentor.matricNo%>'><%= prettyName %></a></h5>
              <%= prettyContent %>
            </div>
          </div>
                </div>
              </div>
            </div>
          <% } %>