<h1>lol this is a post</h1>
<h2>Title: <%= post.title %></h2>
<h3>Content <%= post.content %></h3>
<h4>Created At: <%= post.createdAt %></h4>
<h4>By: <a href="/users/<%= author.matricNo %>"><%= author.name %> </a> </h4>
<h4>Add Comment here: </h4>